@font-face {
    font-family: 'Sen';
    src: url("fonts/Sen.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
}

body {
    font-family: "Sen", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

button {
    font-family: "Sen", Helvetica, sans-serif;
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, p, ul, ol {
    margin: 0;
    padding: 0;
}